HELP.md
.gradle
build/
!**/src/main/**
!**/src/test/**
/src/main/lib
/src/main/resources/jcl
/META-INF
/deliverable

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.history

# Package files
*.jar
!gradle/wrapper/gradle-wrapper.jar

# Log files
*.log
