<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>
                %clr(%d{yyyy-MM-dd HH:mm:ss.SSS}){faint} %clr(%5p) %clr(${PID:- }){magenta} %clr(---){faint} %clr([%15.15t]){faint} %clr(%-40.40logger{39}){cyan} %clr(:){faint} %m%n%wEx
            </Pattern>
        </layout>
    </appender>

    <appender name="TIME_BASED_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>headersv-data/headersv-data.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- hour-based rollover -->
            <fileNamePattern>headersv-%d{yyyy-MM-dd-HH}.log</fileNamePattern>
            <maxHistory>24</maxHistory>
        </rollingPolicy>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <springProfile name="docker-bsv-mainnet">
        <root level="INFO">
            <appender-ref ref="STDOUT" />
        </root>
        <logger name="com.nchain.headerSV" additivity="false">
            <level value="INFO" />
            <appender-ref ref="STDOUT" />
            <appender-ref ref="TIME_BASED_FILE"/>
        </logger>
    </springProfile>

</configuration>